<div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/id/1440568749/photo/modern-apartment-buildings-in-the-evening.jpg?s=1024x1024&w=is&k=20&c=9psxRv7eswszexX2JBJGGUhRNncAyzp9fmuR89oHlxM="
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <div style="display: flex; justify-content: space-between;">
            <div>
                <a href="#" class="btn btn-primary">view details</a>
            </div>
            <div>
                <a href="#" class="btn btn-primary">Mark as Favorite</a>
            </div>
        </div>

    </div>
</div>